@import "../../config";

.about {
  background: url("../../../assets/about-bg.png") no-repeat center center/cover;
  display: flex;
  padding: 0 3rem;
  padding-bottom: 4rem;
  border: none;
  @media screen and (max-width: $md) {
    padding: 0 1rem;
    padding-bottom: 4rem;
    flex-direction: column-reverse;
  }

  .about-left {
    flex: 1;
    // padding: 5rem 0;
    @media screen and (max-width: $md) {
      padding-bottom: 4rem;
    }

    .row {
      // height: 100%;
      // width: 100%;
      display: flex;
      //
      gap: 2rem;
      margin-bottom: 2rem;
      position: relative;
      top: 5rem;
      justify-content: center;

      @media screen and (max-width: $md) {
        flex-direction: column;
        align-items: center;
        // padding-bottom: 4rem;
      }

      .card {
        background-color: #ffff;
        height: 300px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: none;
        padding-top: 20px;
        padding: 27px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        @media screen and (max-width: $md) {
          width: 100%;
          // padding: 39px 27px;
          height: 400px;
        }

        @media screen and (min-width: $lg) {
          width: 380px;
          // padding: 39px 27px;
          height: 380px;
        }

        &:hover {
          background-color: lighten($secondary-color, 8%);
          color: white !important;
        }
        &:hover svg {
          fill: $primary-color;
        }

        svg {
          height: 50px;
          width: 50px;
          fill: $secondary-color;
          margin: 23px 0;
          @media screen and (max-width: $md) {
            height: 80px;
            width: 80px;
          }
        }
        h3 {
          font-family: $body-font;
          margin-bottom: 15px;
          font-size: 18px;
          font-weight: 700;
          line-height: 22px;
          @media screen and (max-width: $md) {
            font-size: 23px;
          }
        }

        p {
          text-align: center;
          margin-bottom: 30px;
          font-size: 14px;
          line-height: 22px;
          font-family: $rubik-font;
        }
        button {
          width: 36px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background: #fff;
          border: 1px solid $secondary-color;
          color: $secondary-color;
          cursor: pointer;
        }
      }
    }
  }
}
.about-right {
  flex: 1;
  padding: 3rem 1rem;
  padding-top: 5rem;
  @media screen and (max-width: $md) {
    //   padding: 0 1rem;
    padding-top: 5rem;
    padding-bottom: 0;

    //   // text-align: center;
  }
  p {
    padding-left: 3rem;
    @media screen and (max-width: $md) {
      padding-left: 0;
    }
  }

  h1 {
    font-family: $body-font;
    font-size: 45px;
    line-height: 70px;
    padding-left: 3rem;
    width: 100%;
    @media screen and (max-width: $md) {
      font-size: 30px !important;
      line-height: 50px;
      padding-left: 0;
    }
    @media screen and (min-width: $lg) {
      width: 87%;
      font-size: 60px !important;
    }
  }
  .about-para {
    margin: 2rem 0;
    font-family: $rubik-font;

    text-align: left;
    color: #657078;

    font-size: 16px;
    line-height: 28px;
    @media screen and (min-width: $lg) {
      width: 87%;
    }
  }
}

.company-profile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: url("../../../assets/companyProfile.png") no-repeat center
    center/cover;
  // max-width: 1410px;
  min-height: 750px;
  justify-content: center;
  @media screen and (max-width: $md) {
    //  min-height: 500px;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  .clip-about {
    margin: 4rem 0;
  }

  h1 {
    font-family: $body-font;
    font-size: 3rem;
    // padding-left: 3rem;
    width: 95%;
    @media screen and (max-width: $md) {
      padding: 0;
    }
  }
  .company-para {
    margin: 2rem 0;
    font-family: $rubik-font;

    text-align: left;
    color: #657078;

    font-size: 16px;
    line-height: 28px;
    width: 40%;
    @media screen and (max-width: $md) {
      width: 80%;
    }
  }
  button {
    width: 180px;
    margin-left: 0;
    // padding: 0;
    @media screen and (max-width: $md) {
      margin-bottom: 4rem;
    }
  }
}
