@import '../config';

.posts{
    display: flex;
    flex-direction: column;
    position: absolute;
   
    &-hero{
        position: relative;
        height: 57vh;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.525) 800px -600px 300px -80px inset;
        @media screen and  (max-width: $md) {
        
        width: 100vw;

        
        }
        &-heading{
            // width: 70%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            color: white;
            gap: 2rem;
            h1{
                font-size: 50px;
                text-align: center;
                font-weight: 800 !important;
                @media screen and  (min-width: $lg) {
        
                    width: 100%;
                    
            
                    
                    }
            }
            p{
                font-size: 15px;
            }
        }
        .post-image{
            position: absolute;
           
            width:100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
           
        }
    }
    .post{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $body-font;
        margin-bottom: 4rem;
        @media screen and  (max-width: $md) {
        
            width: 100vw;
    
            
            }

        // gap: 1rem;
        &-content{
        padding: 0 18rem;
        padding-top: 3rem;
        word-break: break-all;
        font-family: $rubik-font;
        font-size: 17px;
        font-weight: 400;
        letter-spacing: 0px;
        line-height: 28px;
        text-transform: none;
        color: #657078;
        @media screen and  (max-width: $md) {
        
           padding: 2rem;
            
            }

        


        }
        
        .post-content-image{
            height: 400px;
            width: 600px;
            margin-top: 3rem;
            @media screen and  (max-width: $md) {
        
                width: 100%;
                display: flex;
                justify-content: center;
                height: auto;
        
                
                }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                @media screen and  (max-width: $md) {
        
                    width: calc(100% - 2rem);
                    height: auto !important;
            
                    
                    }
            }
        }
        .post-content-heading
        {
            margin-top: 3rem;
            font-size: 24px;
            @media screen and  (max-width: $md) {
        
               padding: 0 2rem ;
        
                
                }
        }
       
    }
}