@import '../../config';

.about-hero-content 
{
    h1 {
    letter-spacing: -0.05em !important;
    font-size: 65px;
    line-height: 72px;
    text-transform: none;
    font-weight: 700;
    width: 100% !important;
}

}