@import '../../config';

.events
{
    margin: 3rem 0;
    .hide{
        @media screen and (max-width: $md) {
           display: none !important;
               
             }
    }
    .heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        margin-bottom: 2rem;
        @media screen and (max-width: $md) {
            padding-top: 4rem;

            h1{
                font-size:47px;
                padding: 0;
            }
               
             }
             @media screen and (max-width: $md) {
                flex-direction: column;
                align-items: baseline;
               
                gap: 2rem;
                   
                 }
        h1{
            width: 100%;

        }
    }
    .cards{
        display: flex;
        // gap: 2rem;
        justify-content: space-between;
        padding: 16px;
        @media screen and (max-width: $md) {
           display: block;
               
             }
        .card{
            // padding: 30px;
            display: flex;
            width: calc(90%/3);
            border: none;

            flex-direction: column;
            @media screen and (max-width: $md) {
                width: auto;
                   
                 }
            // gap: 1rem;
            .img{
                height: 100%;
                width: 100%;
                border: none;
                border-radius: 0;
                margin-bottom: 2rem;
                @media screen and (max-width: $md) {
                    width: auto;
                       
                     }
               
                img{
                    height: 100%;
                    width: 100%;
                    box-shadow: none;
                    object-fit: cover;
                }
            }
            h3{
                // margin-top: 10px;
                font-size: 26px;
                word-break: break-word;
                font-weight: 700 !important;
                font-family: $body-font;
                width: 100%;
                transition: all 0.2s;
                letter-spacing: -0.05em !important;
                cursor: pointer;
                &:hover{
                    color: $secondary-color;
                }
            }
        }

    }
}