@import "../../config";

.all-services {
  padding: 0rem 0;
  h1 {
    letter-spacing: -0.05em !important;
    font-size: 53px !important;
  }
  .all-services-heading {
    padding-left: 4rem;
    @media screen and  (max-width:$md) {
        
     padding-left: 1rem;
     h1{
      padding: 0;
     }
      
      }
  }

  &-cards {
    margin-top: 1.5rem;
    &-card {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0rem;
      height: 350px;
      padding: 0 4rem;
      // margin-top: 1.5rem;
      border-bottom: 2px solid darken(lightgray, 10%);
      box-shadow: rgba(0, 0, 0, 0.708) 800px -600px 350px -200px inset;
      //   align-items: center;
      @media screen and  (max-width:$md) {
        
       height: 430px;
       padding: 1rem;
      
       
        
        }
      h2 {
        font-size: 50px;
        font-weight: 800;
        font-family: $body-font;
        color: white;
        @media screen and  (max-width:$md) {
        
          font-size: 35px;
          
          }
      }
      span {
        font-size: 35px;
        font-weight: 300;
        color: rgb(234, 234, 234);
        margin-top: 1.5rem;
        width: 60%;
        line-height: 1.6rem !important;
        @media screen and  (max-width:$md) {
        
          font-size: 25px;
          
          }
      }
      p {
        font-size: 19px;
        font-weight: 500;
        color: rgb(234, 234, 234);
        margin-top: 1.2rem;
        width: 60%;
        line-height: 1.6rem !important;
        @media screen and  (max-width:$md) {
        
         
            width: 97%;
            font-size: 17px;
           
          
          }
      }
      img {
        position: absolute;
        left: 0;
        width: 100%;
        height: 350px;
        object-fit: cover;
        object-position: center;
        // opacity: 0.37;
        z-index: -1;
        @media screen and  (max-width:$md) {
        
         height: 100%;
          }
      }
    }
  }
}
