@import '../config';

.about{
    background: url('../../assets/about-bg.png') no-repeat center center/cover;
    display: flex;
    padding: 5rem 3rem;
    

    .left{
           flex: 1;
           .row{
            // height: 100%;
            // width: 100%;
            display: flex;
            gap: 2rem;
            margin-bottom: 2rem;

            .card{
                background-color: #ffff;
                height: 300px;
                width: 300px;


            }
        
           }
    }
    .right{
            flex: 1;
            padding: 3rem;
            p{
                padding-left: 3rem;
            }
            
            h1{

                  font-family: $body-font;
                  font-size: 3rem;
                  padding-left: 3rem;
                  width: 95%;
            }
            .about-para{
                margin: 2rem 0;
                font-family: $rubik-font;
             
                    text-align: left;
                    color: #657078;
                  
                    font-size: 16px;
                    line-height: 28px;

            }
            button{
                font-size: 12px;
                font-weight: 500;
                font-family: $rubik-font;
                text-transform: uppercase;
                letter-spacing: .22px;
                fill: #657078;
                color: #657078;
                background-color: #02010100;
                border-style: solid;
                border-width: 3px;
                border-color: #e1e4e6;
                border-radius: 25px 25px 25px 25px;
                padding: 17px 35px 14px;
                margin-left: 3rem;
                transition: all .3s;
                cursor: pointer;
                

                &:hover{
                    color: #fff;
                    background-color: $secondary-color;
                    border-color: transparent;
                }
                svg{
                    margin-left: 4px;
                }
            }

    }
}