$primary-color: rgb(255, 255, 255);
$secondary-color: #de5500;
$blur-color:#4f4f4f62;

$logo-font: 'Allura', cursive;
$body-font:  'Roboto', sans-serif;

$sm : 576px;
$md : 768px;

$button-size: 23px;
$button-color: #000;