$primary-color: rgb(255, 255, 255);
$secondary-color: #F3681D;
$blur-color: #4f4f4f62;
$lighten-bg: #fff1ea;

$logo-font: 'Simple Brush Script', sans-serif;
$logo-color:black;
$body-font: 'Manrope', sans-serif;
$rubik-font: "Rubik", sans-serif;

$h3-font-size: 2.6rem;

$sm: 576px;
$md: 768px;

$button-size: 23px;
$button-color: #000;

img {
  pointer-events: none;
}

h3{
  font-weight: 800 !important;
}

.cursive{
  font-family: $logo-font;
  color: black;
  font-weight: 600;
  padding: 10px 10px; 
}

.p-2{
  padding:1rem 3rem  !important;

  @media screen and (max-width: $md) {
    padding: 1rem 1rem !important;
     
    
  }
}

.clip
{
  font-family: rubik,Sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.3px;
  
  margin-bottom: 1rem !important;
 
}

.homepage-btn{
  font-size: 12px;
  font-weight: 500;
  font-family: $rubik-font;
  text-transform: uppercase;
  letter-spacing: .22px;
  fill: #657078;
  color: #657078;
  background-color: #02010100;
  border-style: solid;
  border-width: 3px;
  border-color: #e1e4e6;
  border-radius: 25px 25px 25px 25px;
  padding: 17px 35px 14px;
  margin-left: 3rem;
  transition: all .3s;
  cursor: pointer;
  @media screen and (max-width: $md) {
   margin-left: 0rem;
   
  
    
  }
  

  &:hover{
      color: #fff;
      background-color: $secondary-color;
      border-color: transparent;
  }
  svg{
      margin-left: 4px;
  }
}
.underline {
  background: 
      linear-gradient($secondary-color 0 0) 
      bottom /var(--d, 0) 3px 
      no-repeat;
  transition:0.3s;

  &:hover {
    --d: 100%;
  }
}

h1 {
  font-family: $body-font;
  font-size: 57px;
  line-height: 72px;
  // padding-left: 3rem;
  width: 95%;
  @media screen and (max-width: $md) {
    
       
    line-height: 50px !important;
    padding: 0 1rem;
    font-size: 2rem;
    text-align: left;
    padding: 0 1rem;
    margin-top: 0;
    width: 100%;
   
  
}
}

.description{
  font-family: $rubik-font;

  text-align: left;
  color: #657078;

  font-size: 16px;
  line-height: 28px;

  @media screen and (max-width: $md) {
    
       
    padding: 0;
   
  
}


}